language: python

python:
 - 2.7
 - 3.3
 - 3.4
 - 3.5
 - pypy
 - pypy3
 - nightly

matrix:
  allow_failures:
    - python: pypy
    - python: pypy3
    - python: nightly
    - env: DJANGO_VERSION=1.9a1
  exclude:
    # Django 1.7 is not supported on python 3.5.
    - python: 3.5
      env: DJANGO_VERSION=1.7.10


env:
- DJANGO_VERSION=1.7.10
- DJANGO_VERSION=1.8.4
- DJANGO_VERSION=1.9a1

install:
- pip install -q -r requirements.txt
- pip install -q coveralls codecov
- pip install -q Django==$DJANGO_VERSION

script: coverage run --source=. manage.py test

after_success:
- coveralls
- codecov
