language: python

python:
 - 3.5
 - 3.6
 - 3.7
 - pypy3

matrix:
  allow_failures:
    - python: pypy3
    - env: DJANGO_VERSION=LATEST
    - python: 3.7

env:
- DJANGO_VERSION=1.11.8
- DJANGO_VERSION=2.0.1
- DJANGO_VERSION=LATEST

install:
- pip install -q -r requirements.txt
- pip install -q -r requirements-dev.txt
- if [[ $DJANGO_VERSION != "LATEST" ]]; then pip install -q Django==$DJANGO_VERSION; fi
- if [[ $DJANGO_VERSION == "LATEST" ]]; then pip install -U Django; fi

before_script:
  flake8 .

script: coverage run --source=. manage.py test

after_success:
- coveralls
- codecov
