{% spaceless %}
<!DOCTYPE html>
{% load static %}
{% load youtubetags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:site_name" content="Youtube" />
        <meta property="og:url" content="{{ full_url }}" />
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}New youtube videos{% endif %}" />
        <meta property="og:description" content="Aggregating youtube videos since 2015" />
        <meta name="theme-color" content="#222222" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>{% if title %}{{ title }}{% else %}New youtube videos{% endif %}</title>
        <link rel="manifest" href="{% static 'youtube/manifest.json' %}" />
        <link rel="shortcut icon" href="{% static 'youtube/favicon.ico' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'youtube/youtube.css' %}" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand text-nowrap" href="{% url 'index' %}">
                        <img src="{% static 'youtube/favicon.png' %}" height="22" width="22" alt="Logo"  />
                        <span> Youtube</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="collapse-navbar">
                    <div class="navbar-right">
                        {% if not hide_search %}
                            <form class="navbar-form navbar-left">
                                <div class="input-group">
                                    <input name="q" type="search" class="form-control" placeholder="Search..." value="{{ request.GET.q|default:'' }}" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true" />
                                        </button>
                                    </span>
                                </div>
                            </form>
                        {% endif %}
                        <ul class="nav navbar-nav">
                            {% if request.user.is_authenticated %}
                            <li{% if page == 'admin' %} class="active"{% endif %}>
                                <a href="{% url 'admin' %}">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <span> admin</span>
                                </a>
                            </li>
                            {% else %}
                            <li{% if page == 'admin' %} class="active"{% endif %}>
                                <a href="{% url 'admin' %}">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <span> login</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <ul class="nav navbar-nav">
                        {% visible_channels as channels %}
                        {% if channels %}
                        <li class="dropdown{% if page == 'channel' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i>
                                <span> Channels</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% for channel in channels %}
                                <li>
                                    <a href="{% url 'channel' author=channel.author %}">
                                        {% if channel.thumbnail %}
                                        <img src="{{ channel.thumbnail }}" class="channel-thumbnail" />{% endif %}
                                        <span> {{ channel.title }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                                {% if request.user.is_authenticated %}
                                    <li role="separator" class="divider"></li>
                                    {% hidden_channels as hidden_channels %}
                                    {% for channel in hidden_channels %}
                                        <li>
                                            <a href="{% url 'channel' author=channel.author %}">
                                                {% if channel.thumbnail %}
                                                <img src="{{ channel.thumbnail }}" class="channel-thumbnail" />
                                                {% endif %}
                                                <span class="text-muted"> {{ channel.title }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% for message in messages %}
            <div class="alert {% if message.level > 25 %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
{% endspaceless %}